#containerBandeja {
	text-align: left;
	width: 600px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.entradaMsg {
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px;
	min-height: 10px;
	background-color: rgba(0,0,0,0.05);
	border-top: none;
}

.entradaMsg:hover {
	cursor: pointer;
}

.nuevo {
	background-color: white;
	font-weight: 600;
}

.usuarioMsg {
	float: left;
	width: 20%;
}

.tituloMsg {
	float: left;
}

.tituloMsg {
	float: left;
	width: 50%;
}

.first {
	border-top: 1px solid rgba(0,0,0,0.2);
}

.mostrarClass {
	border-radius: 5px;
	padding-top: 3px;
	margin-top: 5px;
	text-align: center;
}

.cuerpoClass {
	margin-bottom: 10px;
	text-align: justify;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

.redButton:hover {
	transition: 0.1s;
	box-shadow: inset 0px 0px 7px rgba(255, 255, 255, 0.9);
}

.redButton:active {
	transition: 0s;
	background-color: rgba(255, 0, 0, 0.8);
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.redButton {
	cursor: pointer;
	outline: none;	
	padding: 5px;
	background-color: rgba(255, 0, 0, 0.8);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	color: rgba(255,255,255,1);
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}