#is2_utilities_msg {
    border-color: #000000;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.2) inset, 0 0 10px 5px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin: 150px auto 0 -275px;
    padding: 0 8px 5px;
    position: fixed;
    width: 600px;
    z-index: 100;
    background-color: #FFFFFF;
}
#is2_utilities_msg_topvar > div {
    border-radius: 15px 15px 0 0;
    float: right;
    margin-right: 7px;
}
#is2_utilities_msg_topvar {
    border-radius: 15px 15px 0 0;
    clear: both;
    display: block;
    margin-top: 3px;
}
#is2_utilities_msg_content {
    clear: both;
}
#is2_utilities_msg_options {
    margin-bottom: 2px;
    text-align: center;
}


.globalContainer{
	width: 600px;
	margin: auto;
	border: solid;
	margin-top: 30px;
	padding: 7px;
}


/* Leftmenu de administracion */
.leftmenu {
    position: absolute;
    top: 50px;
    left: 3px;
	border: solid 1px;
    border-color: rgba(128, 128, 128, 0.44);
    border-radius: 6px;
	padding: 5px;
	padding-bottom: 10px;
	text-align: center;
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 0 5px 2px rgba(143, 141, 141, 0.33);
}

.leftmenuEntry {
    border: solid 1px;
    color: rgba(0, 0, 0, 0.63);
    border-color: rgba(134, 134, 134, 0.62);
    border-radius: 6px;
    padding: 3px;
    margin: 2px;
    box-shadow: inset 0 0 5px 4px rgba(136, 136, 136, 0.16);
}

.leftmenuEntry:hover {
	cursor: pointer;
	box-shadow: inset 0 0 5px 4px rgba(136, 136, 136, 0.36);
}

.leftmenuHeader {
    margin-bottom: 7px;
    border-bottom: solid 1px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.66);
    border-color: rgba(22, 22, 22, 0.33);
}