#random {
	height: 200px;
	width: 75%;
	overflow: hidden;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#random img {
}

.theme-default .nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 556px;
	height: 183px !important;
}
.titulo {
	font-size: 15px;
	font-weight: bold;
	color: rgba(0,0,0,0.3);
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.nivoSlider {
	height: 200px;
}

.nombreResultado {
	font-weight: bold;
	color: rgba(0,0,0,0.3);
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

.resultadoInicio img {
	width: 90%;
	height: auto;
	margin-top:5%;
	margin-left: 5%;
}

.resultadoInicio {
	background-color: #FFFFFF;
	border: solid 1px rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 280px;
	height: 280px;
	margin-top:10px;
	display: inline;
	float: left;
	margin-left: 20px;
}

.container {
	display: block;
	height: 320px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
